<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div id="teams">
  <% @teams.each do |team| %>
    <div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>
</div>
    <p>
      <%= link_to "Show this team", team %>
    </p>
  <% end %>
</div>

<%= link_to "New team", new_team_path %>
