<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
<% if can? :update, @team %>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <% end %>

  <%= link_to "Add New Rooster", new_rooster_path %> |
  <%= link_to "Back to teams", teams_path %>


<% if can? :destroy, @team %>
  <%= button_to "Destroy this team", @team, method: :delete %>
  <% end %>
</div>  
