<div class="container">
  <h1><%= @team.name %></h1>

  <%= render @team %>

  <div class="actions">


    <%= link_to "Add New Rooster", new_rooster_path, class: "btn btn-success" %> |
    <% if can? :update, @team %>
    <%= link_to "Edit this team", edit_team_path(@team), class: "btn btn-primary" %> |
  <% end %>
    <%= link_to "Back to Teams", teams_path, class: "btn btn-secondary" %>
    <% if can? :destroy, @team %>
      <%= button_to "Destroy this team", @team, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
