<%= form_with(model: rooster) do |form| %>
  <% if rooster.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rooster.errors.count, "error") %> prohibited this rooster from being saved:</h2>

      <ul>
        <% rooster.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :jersey_number, style: "display: block" %>
    <%= form.number_field :jersey_number %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
