<p style="color: green"><%= notice %></p>

<h1>Tournaments</h1>

<div>
<%= link_to "Create New Team", new_team_path %>
</div>

<div>
<%= link_to "Add New Rooster", new_rooster_path %>
</div>

<div id="tournaments">
  <% @tournaments.each do |tournament| %>
    <%= render tournament %>
    <p>
      <%= link_to "Show this tournament", tournament %>
    </p>
  <% end %>
</div>

<%= link_to "New tournament", new_tournament_path %>
