<div class="container mt-6">
  <p style="color: blue"><%= notice %></p>

  <div style="display: flex; align-items: center;">
    <%= image_tag("tournament.png", alt: "tournament", style: "width: 60px; height: 60px; object-fit: cover;") %>
    <h2 style="margin-left: 10px;">TOURNAMENTS</h2>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">

  <%= search_form_for @q do |f| %>
    <%= f.search_field :name_cont %>
    <%= f.submit %>
  <% end %>
 

    <%= link_to new_tournament_path do %>
      <%= image_tag("add.png", alt: "profile", class: "img-fluid rounded-circle", style: "width: 40px; height: 40px; object-fit: cover;") %>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Tournament</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tournaments.each do |tournament| %>
        <tr>
          <td>
            <strong><%= tournament.name %></strong><br>
            <%= tournament.start_date.strftime('%B %e, %Y') %>
          </td>
          <td>
            <%= link_to tournament do %>
              <%= image_tag("show.png", alt: "show", style: "width: 20px; height: 20px; object-fit: cover;") %> |
            <% end %>
            <% if can? :update, tournament %>
              <%= link_to edit_tournament_path(tournament) do %>
                <%= image_tag("edit.png", alt: "edit", style: "width: 20px; height: 20px; object-fit: cover;") %> |
              <% end %>
            <% end %>
            <% if can? :update, tournament %>
              <%= image_tag("invite.png", alt: "edit", style: "width: 20px; height: 20px; object-fit: cover;") %>
              <%#= button_to "Invite", tournament, class: "btn btn-secondary btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @tournaments %>
</div>


IN my rails application i have by 5 roles admin team_owner,tournament_owner, team_admin, tournament_admin,public_user.
now whenever user signup he gets by default team_owner and tournament_owner role.
and user that has not signed in or signup is a public_user.
Now i want the functionality in my application that , when i click on invite button a mail should be send  for that particular tournament to any other active user who has signed up in application he will get the role of tournament_admin . and that tournament will be shown in the index of that user.
tell me how to do this from scratch.

but first tell me what u understand and your approach . and also please ask if u have any question or u will need any file from me and when i allow then only give me solution.