<div class="container mt-6">
  <p style="color: blue"><%= notice %></p>

  <div style="display: flex; align-items: center;">
    <%= image_tag("tournament.png", alt: "tournament", style: "width: 60px; height: 60px; object-fit: cover;") %>
    <h2 style="margin-left: 10px;">TOURNAMENTS</h2>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">

  <%= search_form_for @q do |f| %>
    <%= f.search_field :name_cont %>
    <%= f.submit %>
  <% end %>
 

    <%= link_to new_tournament_path do %>
      <%= image_tag("add.png", alt: "profile", class: "img-fluid rounded-circle", style: "width: 40px; height: 40px; object-fit: cover;") %>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Tournament</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tournaments.each do |tournament| %>
        <tr>
          <td>
            <strong><%= tournament.name %></strong><br>
            <%= tournament.start_date.strftime('%B %e, %Y') %>
            -
            <%= tournament.end_date.strftime('%B %e, %Y') %>
          </td>
          <td>
            <%= link_to tournament do %>
              <%= image_tag("show.png", alt: "show", style: "width: 20px; height: 20px; object-fit: cover;") %> |
            <% end %>
            <% if can? :update, tournament %>
              <%= link_to edit_tournament_path(tournament) do %>
                <%= image_tag("edit.png", alt: "edit", style: "width: 20px; height: 20px; object-fit: cover;") %> 
              <% end %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @tournaments %>
</div>

