<!-- app/views/tournaments/show.html.erb -->

<p style="color: green"><%= notice %></p>

<div class="container mt-5">
  <h1 class="text-center mb-4"><%= @tournament.name %></h1>


  <ul class="nav nav-tabs" id="tournamentTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="teams-tab" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="false">Participating Teams</a>
    </li>
  </ul>


  <div class="tab-content mt-3">

    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <div class="card">
        <div class="card-body">
          <%= render @tournament %>
          <div class="mt-3">
            <% if can? :update, @tournament %>
              <%= link_to "Edit this Tournament", edit_tournament_path(@tournament), class: "btn btn-warning" %> |
            <% end %>
            <%= link_to "Create New Team", new_team_path, class: "btn btn-success" %> |
            <%= link_to "Back to Tournaments", tournaments_path, class: "btn btn-primary" %>
            <% if can? :destroy, @tournament %>
              <%= button_to "Destroy this Tournament", @tournament,method: :delete,data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Participating Teams Tab Content -->
    <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="teams-tab">
      <div class="card">
        <div class="card-body">
        <h3>Participating Teams</h3>
        <table class="table">
        <thead>
          <tr>
            <th>Teams</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @team.each do |team| %>
          <tr>
          <td>
          <p><%= team.name %></p>
          </td>
          <td>
          <%= link_to "Show",team, class: "btn btn-success" %>
          </td>
          </tr>
        <% end %>
        </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#tournamentTabs a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  });
</script>
