<div class="container mt-6">
  <h1 class="text-center mb-4">EVENTS</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.game_type %></td>
          <td>
          <%= link_to tournament_event_path(@tournament, event) do %>
            <%= image_tag("show.png", alt: "show", style: "width: 20px; height: 20px; object-fit: cover;") %> |
          <% end %> 
          <%= link_to edit_tournament_event_path(@tournament, event) do %>
            <%= image_tag("edit.png", alt: "show", style: "width: 20px; height: 20px; object-fit: cover;") %> |
        <% end %> 
        <div style=" margin-left: 60px; margin-top: -25px;">
        <%= button_to tournament_event_path(@tournament,event), method: :delete, data: { confirm: "Are you sure?" }, class: "myButton" do %>
        <%= image_tag("empty.png", alt: "edit", style: "width: 20px; height: 20px; object-fit: cover;") %>
        <% end %>
        </div>
         </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
