
<div class="d-flex justify-content-between align-items-center mb-3">
<h1><%= @event.team.name %> vs <%= @event.opponent_team.name %></h1>
<%= link_to "Back", tournament_path(@tournament),style:"margin-right: -365px;" ,class: "btn btn-outline-primary" %>
<%= link_to "Edit",edit_tournament_event_path(@tournament, @event) , style:"margin-right: -365px;" ,class: "btn btn-outline-primary"%>
<%= button_to "Delete", tournament_event_path(@tournament, @event) , style:"margin-right: 20px;",class: "btn btn-outline-primary",method: :delete, data: { confirm: "Are you sure?" } %>

</div>
</div>
  <div style="max-width: 100%; display: flex;">

    <div style="flex: 60%; padding: 260px; background-image: url('<%= asset_path('Field.png') %>'); background-size: 100% 100%; background-repeat: no-repeat;">
    </div>
    <div style="flex: 40%;">
      <div class="container">

      <% if @show_resume_button %>
      <%= link_to "RESUME", resume_tournament_event_path(@tournament, @event), style: "margin-left: 10px;", class: "btn btn-outline-primary" %>
      <% elsif @show_start_button %>
        <%= link_to "START", start_tournament_event_path(@tournament, @event), style: "margin-left: 10px;", class: "btn btn-outline-primary" %>
      <% end %>
    

    <% if false %>
      <% if @event.is_live.nil? && @team_line_up_complete && @opponent_team_line_up_complete %>
      <%= link_to "START", start_tournament_event_path(@tournament, @event), style: "margin-left: 10px;", class: "btn btn-outline-primary" %>
      <% elsif @event.is_live.present? && @team_line_up_complete && @opponent_team_line_up_complete %>
        <%= link_to "RESUME", resume_tournament_event_path(@tournament, @event), style: "margin-left: 10px;", class: "btn btn-outline-primary" %>
      <% end %>
        <div style="display: flex; align-items: center;">
          <h4 style="margin-left: 10px;">TeamLineUp</h4> 
          <% if @event.is_live.nil? %>
          <%= link_to new_tournament_event_team_line_up_path(@event.tournament, @event) do %>
            <%= image_tag("lineup.png", alt: "teamlineup", style: "width: 25px; height: 25px; object-fit: cover;margin-left: 20px;") %>
            <% end %>
            <% else %>        
            <%= link_to tournament_event_team_line_ups_path(@event.tournament, @event) do %>
              <%= image_tag("check.jpg", alt: "completed", style: "width: 25px; height: 25px; object-fit: cover; margin-left: 20px;") %>
              <% end %>
            <% end %>
        </div>

        <div style="display: flex; align-items: center;">
          <h4 style="margin-left: 10px;">Opponent Teamlineup</h4> 
          <% if @event.is_live.nil? %>
          <%= link_to new_tournament_event_opponent_team_line_up_path(@event.tournament, @event) do %>
            <%= image_tag("lineup.png", alt: "tournament", style: "width: 25px; height: 25px; object-fit: cover;margin-left: 20px;") %>
          <% end %>
          <% else %> 
          <%= link_to tournament_event_opponent_team_line_ups_path(@event.tournament, @event) do %>
            <%= image_tag("check.jpg", alt: "completed", style: "width: 25px; height: 25px; object-fit: cover; margin-left: 20px;") %>
          <% end %>
          <% end %>
    <% end %>   
    
      <div style="display: flex; align-items: center;">
        <h4 style="margin-left: 10px;">TeamLineUp</h4> 
        <% if @show_start_button %>
        <%= link_to tournament_event_team_line_ups_path(@event.tournament, @event) do %>
        <%= image_tag("check.jpg", alt: "completed", style: "width: 25px; height: 25px; object-fit: cover; margin-left: 20px;") %>
        <% end %>
        <% else %>        
        <%= link_to new_tournament_event_team_line_up_path(@event.tournament, @event) do %>
          <%= image_tag("lineup.png", alt: "teamlineup", style: "width: 25px; height: 25px; object-fit: cover;margin-left: 20px;") %>
          <% end %>
        <% end %>
      </div>

      <div style="display: flex; align-items: center;">
        <h4 style="margin-left: 10px;">Opponent Teamlineup</h4> 
        <% if @show_start_button %>
        <%= link_to tournament_event_opponent_team_line_ups_path(@event.tournament, @event) do %>
          <%= image_tag("check.jpg", alt: "completed", style: "width: 25px; height: 25px; object-fit: cover; margin-left: 20px;") %>
        <% end %>
        <% else %> 
        <%= link_to new_tournament_event_opponent_team_line_up_path(@event.tournament, @event) do %>
          <%= image_tag("lineup.png", alt: "tournament", style: "width: 25px; height: 25px; object-fit: cover;margin-left: 20px;") %>
        <% end %>
       <% end %>   
      </div>
                
      </div>
    </div>
  </div>


