
<div class="d-flex justify-content-between align-items-center mb-3">
<h1><%= @event.team.name %> vs <%= @event.opponent_team.name %></h1>
<%= link_to "Back", tournament_path(@tournament),style:"margin-right: -700px;" ,class: "btn btn-outline-primary" %>
<%= link_to "Edit",edit_tournament_event_path(@tournament, @event) , style:"margin-right: -700px;" ,class: "btn btn-outline-primary"%>
<%= button_to "Delete", tournament_event_path(@tournament, @event) , style:"margin-right: 20px;",class: "btn btn-outline-primary",method: :delete, data: { confirm: "Are you sure?" } %>

</div>
</div>
  <div style="max-width: 100%; display: flex;">

    <div style="flex: 60%; padding: 260px; background-image: url('<%= asset_path('Field.png') %>'); background-size: 100% 100%; background-repeat: no-repeat;">
    </div>
    <div style="flex: 40%;">
      <div class="container">
     
        <% @o8 = @event.event_innings.where(inning_number: 9,bottom:true).ids %>
        <% if @event.scoreboards.where(event_inning_id: @o8).last&.out == 3 %>
          <%= link_to "RESTART", start_tournament_event_path(@tournament, @event), style: "margin-left: 10px;", class: "btn btn-outline-primary" %>
        <% elsif @show_resume_button %>
          <%= link_to "RESUME", resume_tournament_event_path(@tournament, @event), style: "margin-left: 10px;", class: "btn btn-outline-primary" %>
        <% elsif @show_start_button %>
          <%= link_to "START", start_tournament_event_path(@tournament, @event), style: "margin-left: 10px;", class: "btn btn-outline-primary" %>
        <% end %>
    

    <% if false %>
      <% if @event.is_live.nil? && @team_line_up_complete && @opponent_team_line_up_complete %>
      <%= link_to "START", start_tournament_event_path(@tournament, @event), style: "margin-left: 10px;", class: "btn btn-outline-primary" %>
      <% elsif @event.is_live.present? && @team_line_up_complete && @opponent_team_line_up_complete %>
        <%= link_to "RESUME", resume_tournament_event_path(@tournament, @event), style: "margin-left: 10px;", class: "btn btn-outline-primary" %>
      <% end %>
        <div style="display: flex; align-items: center;">
          <h4 style="margin-left: 10px;">TeamLineUp</h4> 
          <% if @event.is_live.nil? %>
          <%= link_to new_tournament_event_team_line_up_path(@event.tournament, @event) do %>
            <%= image_tag("lineup.png", alt: "teamlineup", style: "width: 25px; height: 25px; object-fit: cover;margin-left: 20px;") %>
            <% end %>
            <% else %>        
            <%= link_to tournament_event_team_line_ups_path(@event.tournament, @event) do %>
              <%= image_tag("check.jpg", alt: "completed", style: "width: 25px; height: 25px; object-fit: cover; margin-left: 20px;") %>
              <% end %>
            <% end %>
        </div>
        <div style="display: flex; align-items: center;">
          <h4 style="margin-left: 10px;">Opponent Teamlineup</h4> 
          <% if @event.is_live.nil? %>
          <%= link_to new_tournament_event_opponent_team_line_up_path(@event.tournament, @event) do %>
            <%= image_tag("lineup.png", alt: "tournament", style: "width: 25px; height: 25px; object-fit: cover;margin-left: 20px;") %>
          <% end %>
          <% else %> 
          <%= link_to tournament_event_opponent_team_line_ups_path(@event.tournament, @event) do %>
            <%= image_tag("check.jpg", alt: "completed", style: "width: 25px; height: 25px; object-fit: cover; margin-left: 20px;") %>
          <% end %>
          <% end %>
    <% end %>   
    
      <div style="display: flex; align-items: center;">
        <h4 style="margin-left: 10px;">TeamLineUp</h4> 
        <% if @show_start_button %>
        <%= link_to tournament_event_team_line_ups_path(@event.tournament, @event) do %>
        <%= image_tag("check.jpg", alt: "completed", style: "width: 25px; height: 25px; object-fit: cover; margin-left: 20px;") %>
        <% end %>

        <% else %>        
        <%= link_to new_tournament_event_team_line_up_path(@event.tournament, @event) do %>
          <%= image_tag("lineup.png", alt: "teamlineup", style: "width: 25px; height: 25px; object-fit: cover;margin-left: 20px;") %> |
          <% end %>
          <%= link_to new_tournament_team_rooster_path(@team.tournament, @team) do %>
            <%= image_tag("addroaster.png", alt: "edit", style: "width: 25px; height: 25px; object-fit: cover;") %> 
            <% end %>

        <% end %>
      </div>

      <div style="display: flex; align-items: center;">
        <h4 style="margin-left: 10px;">Opponent Teamlineup</h4> 
        <% if @show_start_button %>
        <%= link_to tournament_event_opponent_team_line_ups_path(@event.tournament, @event) do %>
          <%= image_tag("check.jpg", alt: "completed", style: "width: 25px; height: 25px; object-fit: cover; margin-left: 20px;") %>
        <% end %>
        <% else %> 
        <%= link_to new_tournament_event_opponent_team_line_up_path(@event.tournament, @event) do %>
          <%= image_tag("lineup.png", alt: "tournament", style: "width: 25px; height: 25px; object-fit: cover;margin-left: 20px;") %> |
        <% end %>
        <%= link_to new_tournament_opponent_team_opponent_rooster_path(@opponent_team.tournament, @opponent_team) do %> 
          <%= image_tag("addroaster.png", alt: "edit", style: "width: 25px; height: 25px; object-fit: cover;") %> 
          <% end %>
       <% end %>   
      </div>
                
      </div>
    </div>

    <div class="modal fade" id="addRoasterModal" tabindex="-1" aria-labelledby="addRoasterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRoasterModalLabel">Reminder!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Add a roaster to the team before accessing the team lineup.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="addRoasterModal1" tabindex="-1" aria-labelledby="addRoasterModal1Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRoasterModal1Label">Reminder!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Add an opponent roaster to the opponent team before accessing the opponent team lineup.</p>
        </div>
      </div>
    </div>
  </div>
  


  </div>

  <script>
  document.addEventListener("DOMContentLoaded", function() {
    <% if @show_modal %>
      $('#addRoasterModal').modal('show');
    <% elsif @show_modal1 %>
      $('#addRoasterModal1').modal('show');
    <% end %>
  });
</script>


