
<%= link_to "Back", tournament_event_path(@tournament, @event), class: "btn btn-outline-primary ", style:"margin-left: 1100px;" %> 
<% @s = @event.event_innings.where(inning_number: 1,top:true).ids %>
    <% @s1 = @event.event_innings.where(inning_number: 2,top:true).ids %>
    <% @s2 = @event.event_innings.where(inning_number: 3,top:true).ids %>
    <% @s3 = @event.event_innings.where(inning_number: 4,top:true).ids %>
    <% @s4 = @event.event_innings.where(inning_number: 5,top:true).ids %>
    <% @s5 = @event.event_innings.where(inning_number: 6,top:true).ids %>
    <% @s6 = @event.event_innings.where(inning_number: 7,top:true).ids %>
    <% @s7 = @event.event_innings.where(inning_number: 8,top:true).ids %>
    <% @s8 = @event.event_innings.where(inning_number: 9,top:true).ids %>

    <% @o = @event.event_innings.where(inning_number: 1,bottom:true ).ids %>
    <% @o1 = @event.event_innings.where(inning_number: 2,bottom:true).ids %>
    <% @o2 = @event.event_innings.where(inning_number: 3,bottom:true).ids %>
    <% @o3 = @event.event_innings.where(inning_number: 4,bottom:true).ids %>
    <% @o4 = @event.event_innings.where(inning_number: 5,bottom:true).ids %>
    <% @o5 = @event.event_innings.where(inning_number: 6,bottom:true).ids %>
    <% @o6 = @event.event_innings.where(inning_number: 7,bottom:true).ids %>
    <% @o7 = @event.event_innings.where(inning_number: 8,bottom:true).ids %>
    <% @o8 = @event.event_innings.where(inning_number: 9,bottom:true).ids %>
    <div class="element">
        <div class="team-names">
                <% if @event.scoreboards.last.home_away? %>
                    <div style="border: 2px solid black; padding: 5px; font-weight: bold;">
                    <%= @event.team.name %>
                    </div>
                <% else %>
                    <%= @event.team.name %>
                <% end %>
            <h2> Vs </h2>
                <% if @event.scoreboards.last.home_team? %>
                    <div style="border: 2px solid blue; padding: 5px; font-weight: bold;">
                    <%= @event.opponent_team.name %>
                    </div>
                <% else %>    
                    <%= @event.opponent_team.name %>
                <% end %>
        </div>
        <div class="inning-indicator">

            <h5><%= @event.event_innings.last.inning_number %>
            <% if @event.event_innings.last.top %>
            Top Inning
            <% else %>
            Bottom Inning
            <% end %>
            </h5>
            <div>
                <label for="out">Ball</label>
                <% balls_count = @event.scoreboards.last.balls %>
                <% 4.times do |i| %>
                <% if i < balls_count %>
                    <input type="checkbox" id="out" style="outline: 2px solid #32CD32;" checked>
                <% else %>
                    <input type="checkbox" id="out" style="outline: 2px solid #32CD32;">
                <% end %>
                <% end %>
                
                <label for="out">Out</label>
                <% out_count = @event.scoreboards.last.out %>
                <% 3.times do |i| %>
                <% if i < out_count %>
                    <input type="checkbox" id="out" style="outline: 2px solid #FF0000;" checked>
                <% else %>
                    <input type="checkbox" id="out" style="outline: 2px solid #FF0000;">
                <% end %>
                <% end %>
                    
                <label for="out">Strike</label>
                <% strike_count = @event.scoreboards.last.strike %>
                <% 3.times do |i| %>
                <% if i < strike_count %>
                    <input type="checkbox" id="out" style="outline: 2px solid #FFD700;" checked>
                <% else %>
                    <input type="checkbox" id="out" style="outline: 2px solid #FFD700;">
                <% end %>
                <% end %>
                


            </div>
        </div>

        <div>
            <table class="scoreboard-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>R</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>     

                        <% if @event.scoreboards.last.home_team? %>
                        <td style="background-color: lightblue;"><h5 class="color"><%= @event.opponent_team.short_name %></h5></td>
                        <% else %>
                        <td><h5 class="color"><%= @event.opponent_team.short_name %></h5></td>
                        <% end %>
                       
                        <td><%= @event.scoreboards.where(event_inning_id: @s).last&.run.nil? ? "-" : @r1=@event.scoreboards.where(event_inning_id: @s).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @s1).last&.run.nil? ? "-": @r2=@event.scoreboards.where(event_inning_id: @s1).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @s2).last&.run.nil? ? "-": @r3=@event.scoreboards.where(event_inning_id: @s2).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @s3).last&.run.nil? ? "-": @r4=@event.scoreboards.where(event_inning_id: @s3).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @s4).last&.run.nil? ? "-": @r5=@event.scoreboards.where(event_inning_id: @s4).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @s5).last&.run.nil? ? "-": @r6=@event.scoreboards.where(event_inning_id: @s5).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @s6).last&.run.nil? ? "-": @r7=@event.scoreboards.where(event_inning_id: @s6).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @s7).last&.run.nil? ? "-": @r8= @event.scoreboards.where(event_inning_id: @s7).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @s8).last&.run.nil? ? "-": @r9=@event.scoreboards.where(event_inning_id: @s8).last&.run %></td>
                        <td><%= @run = @r1.to_i+@r2.to_i+@r3.to_i+@r4.to_i+@r5.to_i+@r6.to_i+@r7.to_i+@r8.to_i+@r9.to_i %></td>

                    </tr>
                    <tr>
                    <% if @event.scoreboards.last.home_away? %>
                    <td style="background-color: lightblue;"><h5 class="color"><%= @event.team.short_name %></h5></td>
                    <% else %>
                    <td><h5 class="color"><%= @event.team.short_name %></h5></td>
                    <% end %>
                        <td><%= @event.scoreboards.where(event_inning_id: @o).last&.run.nil? ? "-": @or1=@event.scoreboards.where(event_inning_id: @o).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @o1).last&.run.nil? ? "-": @or2=@event.scoreboards.where(event_inning_id: @o1).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @o2).last&.run.nil? ? "-": @or3=@event.scoreboards.where(event_inning_id: @o2).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @o3).last&.run.nil? ? "-": @or4=@event.scoreboards.where(event_inning_id: @o3).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @o4).last&.run.nil? ? "-": @or5=@event.scoreboards.where(event_inning_id: @o4).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @o5).last&.run.nil? ? "-": @or6=@event.scoreboards.where(event_inning_id: @o5).last&.run %></td>                
                        <td><%= @event.scoreboards.where(event_inning_id: @o6).last&.run.nil? ? "-": @or7=@event.scoreboards.where(event_inning_id: @o6).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @o7).last&.run.nil? ? "-": @or8=@event.scoreboards.where(event_inning_id: @o7).last&.run %></td>
                        <td><%= @event.scoreboards.where(event_inning_id: @o8).last&.run.nil? ? "-": @or9=@event.scoreboards.where(event_inning_id: @o8).last&.run %></td>
                        <td><%= @orun = @or1.to_i+@or2.to_i+@or3.to_i+@or4.to_i+@or5.to_i+@or6.to_i+@or7.to_i+@or8.to_i+@or9.to_i %></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="margin-left: 100px;margin-right: 100px; text-align: center; margin-top: 50px; margin-bottom: 50px; background-color: #f2f2f2; border-radius: 10px; padding: 20px; font-family: Arial, sans-serif;">

    <% if  @event.scoreboards.where(event_inning_id: @o8).last&.out == 3 %>
        <h3>This match is over, Winning Team is 
        <% if @run > @orun %>
            <%= @event.opponent_team.name %> with <%= @run %> runs.
        <% else %>
            <%= @event.team.name %> with <%= @orun %> runs.
        <% end %>
        </h3>
    <% else %>
        <%= form_with(model: [@tournament, @event], url: play_tournament_event_path(@tournament, @event)) do |form| %>
            <%= form.hidden_field :move_id, value: params[:move_id] %>
            <div class="form-content">
                <%= form.label :move_id, class: "form-label" %>
                <%= form.collection_select :move_id, Move.all, :id, :name, { prompt: "Select move" }, required: true, class: "form-select form-control", autocomplete: 'off' %><br />
                <%= form.submit "Play", class: "btn btn-outline-primary" %>
            </div>
        <% end %>   
    <% end %>   
</div>



<%  rooster_positions = RoosterPosition.where(scoreboard_id: @event.scoreboards.last.id, user_id: @current_user.id) %>
<% rooster_position = rooster_positions.last   %>
<div style="max-width: 100%; display: flex;">
    <div style="flex: 60%; padding: 260px; background-image: url('<%= asset_path('match.jpg') %>'); background-size: 100% 100%;margin-left: 100px; background-repeat: no-repeat;">
    </div>
        <div style="flex: 40%;">
            <div class="container">
                <div class="row justify-content-center">
                    <div >
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 style="text-align: center;">LineUp</h4> 
                        </div>
                        <div style="max-height: 500px; overflow-y: auto; margin-right: 0px;">
                        <table class="table",style:"width: 700px;">
                        <thead>
                          <tr>
                            <th>Position</th>
                            <th>Roosters</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% positions = ["first_base", "second_base", "third_base", "fourth_base", "catcher", "pitcher", "shortstop", "rightfield", "leftfield", "centerfield"] %>
                        <% positions.each do |position| %>
                        <tr>
                        <td><%= position.titleize %></td>
                        <td>
                        <% if @event.scoreboards.last.home_team? %>
                          <% if ["first_base", "second_base", "third_base", "fourth_base"].include?(position) %>
                            <% rooster = OpponentRooster.find_by(id: rooster_position.send(position)) %>
                          <% else %>
                            <% rooster = Rooster.find_by(id: rooster_position.send(position)) %>
                          <% end %>
                        <% else %>
                          <% if ["first_base", "second_base", "third_base", "fourth_base"].include?(position) %>
                            <% rooster = Rooster.find_by(id: rooster_position.send(position)) %>
                          <% else %>
                            <% rooster = OpponentRooster.find_by(id: rooster_position.send(position)) %>
                          <% end %>
                        <% end %>
                        <%= rooster ? rooster.name : "N/A" %>
                      </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                      
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Match Over</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      <% if @event.team.id == @event.winning_team_id %>
      <p>This Event is over. The winning team is <%= @event.team.name %> with <%= @run %> runs.</p>
      <% else %>
      <p>This Event is over. The winning team is <%= @event.opponent_team.name %> with <%= @orun %> runs.</p>
      <% end %>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    var inningNumber = <%= @event.event_innings.last.inning_number %>;
    var isBottom = <%= @event.event_innings.last.bottom? %>;
    var over = <%= @event.scoreboards.where(event_inning_id: @o8).last&.out %> ;
    if (over === 3) {
      var winningTeamName = "<%= @event.winning_team_id %>";
      var winningTeamRuns = "<%= @orun %>";
      var losingTeamRuns = "<%= @run %>";
      var modalContent;

      if (winningTeamName === "<%= @event.team.id %>") {
        modalContent = "<p>This Event is over.</p>";
      } else {
        modalContent = "<p>This Event is over. </p>";
      }

      $("#myModal .modal-body").html(modalContent);
      $("#myModal").modal("show");
    }
  });
</script>
