<div class="container1" >
    <ul class="nav nav-tabs" id="tournamentTabs" role="tablist" styyle="margin-top: 20px;">
        <li class="nav-item">
            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Live Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="teams-tab" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="false">Over Events</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming Events</a>
        </li>
    </ul>
    <div class="card">
        <div class="card-body">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="element1" style="margin: 20px auto; width: 80%;">

                        <% @live_events_with_scoreboards.each do |live_event| %>
                        <div class="live-event-card">

                        <div class="live-event" style="border: 1px solid #ccc; padding: 10px; margin-left: 1px; margin-bottom: 20px; width: 700px;">
                        <div class="event-status" style="background-color: #ec300f; color: white; padding: 5px; border-radius: 5px; margin-bottom: 10px;">
                          <span class="event-status-text" style:"width: 80px;">Live</span>
                        </div>
                        <div class="team-names" style="margin-bottom: 10px;">
                          <div><%= live_event[:event].team.name %></div>
                          <h2> Vs </h2>
                          <div><%= live_event[:event].opponent_team.name %></div>
                        </div>
                        <div class="inning-indicator" style="background-color: #f2f2f2; padding: 5px; border-radius: 5px; margin-bottom: 10px;">
                          <h5><%= live_event[:event].event_innings.last.inning_number %>
                          <% if live_event[:event].event_innings.last.top %>
                            Top Inning
                          <% else %>
                            Bottom Inning
                          <% end %>
                          </h5>
                          <div>
                            <% balls_count = live_event[:scoreboards].balls %>
                            <% 4.times do |i| %>
                              <% if i < balls_count %>
                                <input type="checkbox" id="out" style="outline: 2px solid #32CD32;" checked>
                              <% else %>
                                <input type="checkbox" id="out" style="outline: 2px solid #32CD32;">
                              <% end %>
                            <% end %>
                            <label for="out">Ball</label>
                            
                            <% out_count = live_event[:scoreboards].out %>
                            <% 3.times do |i| %>
                              <% if i < out_count %>
                                <input type="checkbox" id="out" style="outline: 2px solid #FF0000;" checked>
                              <% else %>
                                <input type="checkbox" id="out" style="outline: 2px solid #FF0000;">
                              <% end %>
                            <% end %>
                            <label for="out">Out</label>
                            
                            <% strike_count = live_event[:scoreboards].strike %>
                            <% 3.times do |i| %>
                              <% if i < strike_count %>
                                <input type="checkbox" id="out" style="outline: 2px solid #FFD700;" checked>
                              <% else %>
                                <input type="checkbox" id="out" style="outline: 2px solid #FFD700;">
                              <% end %>
                            <% end %>
                            <label for="out">Strike</label>
                          </div>
                          <% @s = live_event[:event].event_innings.where(inning_number:1,top: true).ids %>
                          <% @s1 = live_event[:event].event_innings.where(inning_number:2,top: true).ids %>
                          <% @s2= live_event[:event].event_innings.where(inning_number:3,top: true).ids %>
                          <% @s3 = live_event[:event].event_innings.where(inning_number:4,top: true).ids %>
                          <% @s4 = live_event[:event].event_innings.where(inning_number:5,top: true).ids %>
                          <% @s5 = live_event[:event].event_innings.where(inning_number:6,top: true).ids %>
                          <% @s6 = live_event[:event].event_innings.where(inning_number:7,top: true).ids %>
                          <% @s7 = live_event[:event].event_innings.where(inning_number:8,top: true).ids %>
                          <% @s8 = live_event[:event].event_innings.where(inning_number:9,top: true).ids %>
              
                          <% @o = live_event[:event].event_innings.where(inning_number:1,bottom: true).ids %>
                          <% @o1 = live_event[:event].event_innings.where(inning_number:2,bottom: true).ids %>
                          <% @o2= live_event[:event].event_innings.where(inning_number:3,bottom: true).ids %>
                          <% @o3 = live_event[:event].event_innings.where(inning_number:4,bottom: true).ids %>
                          <% @o4 = live_event[:event].event_innings.where(inning_number:5,bottom: true).ids %>
                          <% @o5 = live_event[:event].event_innings.where(inning_number:6,bottom: true).ids %>
                          <% @o6 = live_event[:event].event_innings.where(inning_number:7,bottom: true).ids %>
                          <% @o7 = live_event[:event].event_innings.where(inning_number:8,bottom: true).ids %>
                          <% @o8 = live_event[:event].event_innings.where(inning_number:9,bottom: true).ids %>
              
                          <div class="scoreboard-table-container">
                            <a href="<%= resume_tournament_event_path(live_event[:event].tournament, live_event[:event]) %>",style:"color:black;">
                              <table class="scoreboard-table" style="width: 100%; border-collapse: collapse;">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>R</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><h5 class="color"><%= live_event[:event].team.short_name %></h5></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @s).last&.run.nil? ? 0 : @r1=live_event[:event].scoreboards.where(event_inning_id: @s).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @s1).last&.run.nil? ? 0 : @r2=live_event[:event].scoreboards.where(event_inning_id: @s1).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @s2).last&.run.nil? ? 0 : @r3=live_event[:event].scoreboards.where(event_inning_id: @s2).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @s3).last&.run.nil? ? 0 : @r4=live_event[:event].scoreboards.where(event_inning_id: @s3).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @s4).last&.run.nil? ? 0 : @r5=live_event[:event].scoreboards.where(event_inning_id: @s4).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @s5).last&.run.nil? ? 0 : @r6=live_event[:event].scoreboards.where(event_inning_id: @s5).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @s6).last&.run.nil? ? 0 : @r7=live_event[:event].scoreboards.where(event_inning_id: @s6).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @s7).last&.run.nil? ? 0 : @r8= live_event[:event].scoreboards.where(event_inning_id: @s7).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @s8).last&.run.nil? ? 0 : @r9=live_event[:event].scoreboards.where(event_inning_id: @s8).last&.run %></td>
                                    <td><%= @r1.to_i+@r2.to_i+@r3.to_i+@r4.to_i+@r5.to_i+@r6.to_i+@r7.to_i+@r8.to_i+@r9.to_i %></td>
                                  </tr>
                                  <tr>
                                    <td><h5 class="color"><%= live_event[:event].opponent_team.short_name %></h5></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @o).last&.run.nil? ? 0 : @or1=live_event[:event].scoreboards.where(event_inning_id: @o).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @o1).last&.run.nil? ? 0 : @or2=live_event[:event].scoreboards.where(event_inning_id: @o1).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @o2).last&.run.nil? ? 0 : @or3=live_event[:event].scoreboards.where(event_inning_id: @o2).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @o3).last&.run.nil? ? 0 : @or4=live_event[:event].scoreboards.where(event_inning_id: @o3).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @o4).last&.run.nil? ? 0 : @or5=live_event[:event].scoreboards.where(event_inning_id: @o4).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @o5).last&.run.nil? ? 0 : @or6=live_event[:event].scoreboards.where(event_inning_id: @o5).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @o6).last&.run.nil? ? 0 : @or7=live_event[:event].scoreboards.where(event_inning_id: @o6).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @o7).last&.run.nil? ? 0 : @or8=live_event[:event].scoreboards.where(event_inning_id: @o7).last&.run %></td>
                                    <td><%= live_event[:event].scoreboards.where(event_inning_id: @o8).last&.run.nil? ? 0 : @or9=live_event[:event].scoreboards.where(event_inning_id: @o8).last&.run %></td>
                                    <td><%= @or1.to_i+@or2.to_i+@or3.to_i+@or4.to_i+@or5.to_i+@or6.to_i+@or7.to_i+@or8.to_i+@or9.to_i %></td>
                                  </tr>
                                </tbody>
                              </table>
                            </a>
                          </div>
                        </div>
                      </div>

                        </div>
                        <% end %>
                    </div>
                </div>

                <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="teams-tab">
                    <div class="element2" style="margin: 20px auto; width: 80%; margin-top: -70px;" >
                        <% @over_matches_with_scoreboards.uniq.each do |over_match| %>
                        <div class="over-match-card">
                        <div class="live-event" style="border: 1px solid #ccc; padding: 10px; margin-left: 1px; margin-bottom: 20px; width: 700px;">
                        <div class="event-status" style="background-color: #ec300f; color: white; padding: 5px; border-radius: 5px; margin-bottom: 10px;">
                          <span class="event-status-text">Over</span>
                        </div>
                        <div class="team-names" style="margin-bottom: 10px;">
                          <div><%= over_match[:event].team.name %></div>
                          <h2> Vs </h2>
                          <div><%= over_match[:event].opponent_team.name %></div>
                        </div>
                        <div class="inning-indicator" style="background-color: #f2f2f2; padding: 5px; border-radius: 5px; margin-bottom: 10px;">
                          <h5><%= over_match[:event].event_innings.last.inning_number %>
                          <% if over_match[:event].event_innings.last.top %>
                            Top Inning
                          <% else %>
                            Bottom Inning
                          <% end %>
                          </h5>
                          <div>
                            <% balls_count = over_match[:scoreboards].balls %>
                            <% 4.times do |i| %>
                              <% if i < balls_count %>
                                <input type="checkbox" id="out" style="outline: 2px solid #32CD32;" checked>
                              <% else %>
                                <input type="checkbox" id="out" style="outline: 2px solid #32CD32;">
                              <% end %>
                            <% end %>
                            <label for="out">Ball</label>
                            
                            <% out_count = over_match[:scoreboards].out %>
                            <% 3.times do |i| %>
                              <% if i < out_count %>
                                <input type="checkbox" id="out" style="outline: 2px solid #FF0000;" checked>
                              <% else %>
                                <input type="checkbox" id="out" style="outline: 2px solid #FF0000;">
                              <% end %>
                            <% end %>
                            <label for="out">Out</label>
                            
                            <% strike_count = over_match[:scoreboards].strike %>
                            <% 3.times do |i| %>
                              <% if i < strike_count %>
                                <input type="checkbox" id="out" style="outline: 2px solid #FFD700;" checked>
                              <% else %>
                                <input type="checkbox" id="out" style="outline: 2px solid #FFD700;">
                              <% end %>
                            <% end %>
                            <label for="out">Strike</label>
                          </div>
                          <% @s = over_match[:event].event_innings.where(inning_number:1,top: true).ids %>
                          <% @s1 = over_match[:event].event_innings.where(inning_number:2,top: true).ids %>
                          <% @s2= over_match[:event].event_innings.where(inning_number:3,top: true).ids %>
                          <% @s3 = over_match[:event].event_innings.where(inning_number:4,top: true).ids %>
                          <% @s4 = over_match[:event].event_innings.where(inning_number:5,top: true).ids %>
                          <% @s5 = over_match[:event].event_innings.where(inning_number:6,top: true).ids %>
                          <% @s6 = over_match[:event].event_innings.where(inning_number:7,top: true).ids %>
                          <% @s7 = over_match[:event].event_innings.where(inning_number:8,top: true).ids %>
                          <% @s8 = over_match[:event].event_innings.where(inning_number:9,top: true).ids %>
                
                          <% @o = over_match[:event].event_innings.where(inning_number:1,bottom: true).ids %>
                          <% @o1 = over_match[:event].event_innings.where(inning_number:2,bottom: true).ids %>
                          <% @o2= over_match[:event].event_innings.where(inning_number:3,bottom: true).ids %>
                          <% @o3 = over_match[:event].event_innings.where(inning_number:4,bottom: true).ids %>
                          <% @o4 = over_match[:event].event_innings.where(inning_number:5,bottom: true).ids %>
                          <% @o5 = over_match[:event].event_innings.where(inning_number:6,bottom: true).ids %>
                          <% @o6 = over_match[:event].event_innings.where(inning_number:7,bottom: true).ids %>
                          <% @o7 = over_match[:event].event_innings.where(inning_number:8,bottom: true).ids %>
                          <% @o8 = over_match[:event].event_innings.where(inning_number:9,bottom: true).ids %>
                
                          <div class="scoreboard-table-container">
                            <a href="<%= resume_tournament_event_path(over_match[:event].tournament, over_match[:event]) %>",style:"color:black;">
                              <table class="scoreboard-table" style="width: 100%; border-collapse: collapse;">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>R</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><h5 class="color"><%= over_match[:event].team.short_name %></h5></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @s).last&.run.nil? ? 0 : @r1=over_match[:event].scoreboards.where(event_inning_id: @s).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @s1).last&.run.nil? ? 0 : @r2=over_match[:event].scoreboards.where(event_inning_id: @s1).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @s2).last&.run.nil? ? 0 : @r3=over_match[:event].scoreboards.where(event_inning_id: @s2).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @s3).last&.run.nil? ? 0 : @r4=over_match[:event].scoreboards.where(event_inning_id: @s3).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @s4).last&.run.nil? ? 0 : @r5=over_match[:event].scoreboards.where(event_inning_id: @s4).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @s5).last&.run.nil? ? 0 : @r6=over_match[:event].scoreboards.where(event_inning_id: @s5).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @s6).last&.run.nil? ? 0 : @r7=over_match[:event].scoreboards.where(event_inning_id: @s6).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @s7).last&.run.nil? ? 0 : @r8= over_match[:event].scoreboards.where(event_inning_id: @s7).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @s8).last&.run.nil? ? 0 : @r9=over_match[:event].scoreboards.where(event_inning_id: @s8).last&.run %></td>
                                    <td><%= @r1.to_i+@r2.to_i+@r3.to_i+@r4.to_i+@r5.to_i+@r6.to_i+@r7.to_i+@r8.to_i+@r9.to_i %></td>
                                  </tr>
                                  <tr>
                                    <td><h5 class="color"><%= over_match[:event].opponent_team.short_name %></h5></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @o).last&.run.nil? ? 0 : @or1=over_match[:event].scoreboards.where(event_inning_id: @o).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @o1).last&.run.nil? ? 0 : @or2=over_match[:event].scoreboards.where(event_inning_id: @o1).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @o2).last&.run.nil? ? 0 : @or3=over_match[:event].scoreboards.where(event_inning_id: @o2).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @o3).last&.run.nil? ? 0 : @or4=over_match[:event].scoreboards.where(event_inning_id: @o3).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @o4).last&.run.nil? ? 0 : @or5=over_match[:event].scoreboards.where(event_inning_id: @o4).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @o5).last&.run.nil? ? 0 : @or6=over_match[:event].scoreboards.where(event_inning_id: @o5).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @o6).last&.run.nil? ? 0 : @or7=over_match[:event].scoreboards.where(event_inning_id: @o6).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @o7).last&.run.nil? ? 0 : @or8=over_match[:event].scoreboards.where(event_inning_id: @o7).last&.run %></td>
                                    <td><%= over_match[:event].scoreboards.where(event_inning_id: @o8).last&.run.nil? ? 0 : @or9=over_match[:event].scoreboards.where(event_inning_id: @o8).last&.run %></td>
                                    <td><%= @or1.to_i+@or2.to_i+@or3.to_i+@or4.to_i+@or5.to_i+@or6.to_i+@or7.to_i+@or8.to_i+@or9.to_i %></td>
                                  </tr>
                                </tbody>
                              </table>
                            </a>
                          </div>
                        </div>
                      </div>
                        

                        </div>
                        <% end %>
                    </div>
                </div>

                <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
                <table class="table" style="margin-top: -130px;">
                    <thead>
                        <tr>
                            <th scope="col">Event Type</th>
                            <th scope="col">Start Date</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <% @upcoming_events.each do |event| %>
                            <tr>
                                <td><%= event.game_type %></td>
                                <td><%= event.start_date.strftime('%Y-%m-%d') %></td>
                               
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            </div>
        </div>
    </div>
</div>


<style>

    .card {
      border: none;
    }

    .card-body {
        padding: 20px;
        border: none;
       
    }

    div.card-body {
    border: none;
    }

    .nav-link:hover {
        background-color: #f2f2f2;
    }

    .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-top: 90px;
}

    .tab-pane {
        padding-top: 20px;

      
    }
</style>

<script>
    $(document).ready(function() {
        $('#tournamentTabs a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>

