<% if current_user %>
<h1>Hello <%= current_user.username%></h1>

    <p> You are a [<%= current_user.role %>]</p>
    <% if current_user.admin? %>
        There are <%= User.count %> users in the system.
    <% end %>
    <p>  
    You are successfully authenticated with your Devise account.
    You are now ready to interact with the Application.
    </p>
 <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    
    <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %> 
    <h1>You are not signed in. </h1>
    <%= link_to "Sign Up!", new_user_registration_path,class: 'btn btn-primary btn-sm' %>
    <br />
    <br />
    <%= link_to "Login", new_user_session_path ,class: 'btn btn-primary btn-sm'%>
<% end %>

