
<h1 style="text-align:center">Invite a User for <%= @tournament.name %> </h1> 

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="border rounded p-4">
        <%= form_with(model: [@tournament, @invitation]) do |form| %>
          <div class="form-group">
            <%= form.label :email, class: "form-label" %>
            <%= form.email_field :email, class: "form-control", required: true, autocomplete: 'off' %>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <%= form.submit 'Send Invitation', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

