<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
<div class="border rounded p-4"> 
<%= form_with(model: [@tournament, @opponent_team, @opponent_rooster], path: tournament_opponent_team_opponent_roosters_path(@tournament, @opponent_team)) do |form| %>
  <% if @opponent_rooster.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@opponent_rooster.errors.count, "error") %> prohibited this opponent_rooster from being saved:</h2>
    <ul>
      <% @opponent_rooster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>    
<%= form.label :full_name %>
    <%= form.text_field :name, required: true ,autocomplete:'off' %><br/>
    <%= form.label :jersey_number %>
    <%= form.text_field :jersey_number, required: true ,autocomplete:'off'%><br/>
    <%= form.label :image %>
    <%= form.file_field :image %><br/>  
    <% if false %>
    <%= form.label :image %>
    <%= form.file_field :image, autocomplete: 'off' %><br/>
    <%= form.label :preferences %>
    <%= form.select :preferences, ['bats', 'throws','all_rounder']%>
    <% end %>
    <br/>  
    <%= form.submit %>
  <% end %>
  </div>
  </div>
  </div>
</div>