
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="border rounded p-4">
        <%= form_with(model: [@tournament, @opponent_team, @opponent_rooster], path: tournament_opponent_team_opponent_roosters_path(@tournament, @opponent_team)) do |form| %>
          <div class="form-group">
            <%= form.label :full_name %><span class="required">*</span>
            <%= form.text_field :name, class: "form-control", autocomplete: 'off' %>
            <% if @opponent_rooster.errors[:name].any? %>
            <div class="error-message", style="color: #f4340a;">
              <b><%= "name " + @opponent_rooster.errors[:name].join(", ") %></b>
            </div>
          <% end %>
          </div>
          <div class="form-group">
            <%= form.label :jersey_number %><span class="required">*</span>
            <%= form.text_field :jersey_number, class: "form-control", autocomplete: 'off' %>
            <% if @opponent_rooster.errors[:jersey_number].any? %>
            <div class="error-message", style="color: #f4340a;">
              <b><%= "jersey_number " + @opponent_rooster.errors[:jersey_number].join(", ") %></b>
            </div>
          <% end %>
          </div>
          <div class="form-group">
            <%= form.label :image %>
            <%= form.file_field :image, class: "form-control-file" %>
          </div>

          <div class="row">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <% if @opponent_rooster.persisted? %>
                <%= form.submit "Update", class: "btn btn-outline-primary " %>
                <% else %>
                <%= form.submit "Create", class: "btn btn-outline-primary " %>
            <% end %>
              <%= link_to "Back", tournament_path(@tournament), class: "btn btn-outline-primary btn-sm" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
