<h1>Roosters</h1>
<% if false %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Jersey Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @roosters.each do |rooster| %>
      <tr>
        <td><%= rooster.name %></td>
        <td><%= rooster.jersey_number %></td>
        <td>
          <%= link_to 'Show', tournament_team_rooster_path(@tournament,@team, rooster) %>
          <%= link_to 'Edit', edit_team_rooster_path(@tournament,@team, rooster) %>
          <%= link_to 'Destroy', team_rooster_path(@tournament,@team, rooster), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rooster', new_tournament_team_rooster_path(@rooster) %>
<% end %>