<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="border rounded p-4", style="width:450px;"> 
        <%= form_with(model: [@tournament, @event, @team_line_up], url: tournament_event_team_line_ups_path) do |form| %>
          <% if @team_line_up.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@team_line_up.errors.count, "error") %> prohibited this team_line_up from being saved:</h2>
              <ul>
                <% @team_line_up.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>      
          <%= form.label :batter_order %>
          <%= form.number_field :batter_order, in: 1..10, required: true, class: "form-control", autocomplete: 'off' %><br/>
          <% @team_line_up.errors.full_messages.each do |msg| %>         
            <li><%= msg %></li>      
            <% end %>
            
            <%= form.label :rooster_id %>
            <% %>
          <%= form.collection_select :rooster_id, @final, :id, :name, { prompt: "Select rooster" }, required: true, class: "form-select", autocomplete:'off' %><br />
        
          <%= form.label :position_id %>
          <%= form.collection_select :position_id, @available_positions, :id, :position_name, { prompt: "Select Position" }, required: true, class: "form-select", autocomplete:'off'%><br />

          <div class="row">
            <div class="col-md-12 text-center">
              <div class="d-grid gap-2">
                <%= form.submit "Create", class: "btn btn-outline-primary", id: "createLineupBtn" %>
                <%= link_to "Back", tournament_event_path(@tournament,@event), class: "btn btn-outline-primary " %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div style="max-height: 400px; overflow-y: auto;">

        <table class="table">
          <thead>
            <tr>
              <th>Position</th>
              <th>Rooster</th>
              <th>Batter Order</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @event.team_line_ups.each do |team_line_up| %>
              <tr>
                <td><%= Position.find(team_line_up.position_id).position_name %></td>
                <td><%= team_line_up.rooster.name %></td>
                <td><%= team_line_up.batter_order %></td>
                <td><%= button_to 'Delete', [@tournament, @event, team_line_up], method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    
  </div>
</div>

           