<% if false %>
  <%= form_with(model: [@tournament, @event, @team_line_up], url: tournament_event_team_line_ups_path) do |form| %>
    <%= @team_line_up.errors.full_messages.first if @team_line_up.errors.any? %><br/>
  
    <%= form.label :batter_order %>
    <%= form.text_field :batter_order, required: true ,autocomplete:'off' %><br/>
  
    <%= form.label :rooster_id %>
    <%= form.collection_select :rooster_id, @event.team.roosters, :id, :name, { prompt: "Select rooster" }, required: true, autocomplete:'off' %><br />
  
    <%= form.label :position_id %>
    <%= form.collection_select :position_id, Position.all, :id, :position_name, { prompt: "Select Position" }, required: true, autocomplete:'off' %><br />
  
    <%= form.submit %>

  <% end %>


  <%= form_with(model: [@tournament, @event, @team_line_up], url: tournament_event_team_line_ups_path) do |form| %>
    <%= @team_line_up.errors.full_messages.first if @team_line_up.errors.any? %><br/>

    <div>
      <%= form.label :batter_order %>
      <%= form.text_field :batter_order, required: true, autocomplete: 'off' %>
    </div>

    <div>
      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Rooster</th>
          </tr>
        </thead>
        <tbody>
          <% Position.all.each do |position| %>
            <tr>
              <td><%= position.position_name %></td>
              <td>
              <%= form.collection_select :rooster_id, @event.team.roosters, :id, :name, { prompt: "Select rooster" }, required: true, autocomplete:'off' %><br />
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  
    <%= form.submit %>
  <% end %>


  <% end %>

  <%= form_with(model: [@tournament, @event, @team_line_up], url: tournament_event_team_line_ups_path) do |form| %>
    <%= @team_line_up.errors.full_messages.first if @team_line_up.errors.any? %><br/>
  
    <div>
      <%= form.label :batter_order %>
      <%= form.text_field :batter_order, required: true, autocomplete: 'off' %>
    </div>
  
    <% Position.all.each do |position| %>
      <div>
        <%= form.label "#{position.id}", position.position_name %>
        <%= form.collection_select "#{position.id}",Rooster.where(team_id: @event.team_id), :id, :name, prompt: "Select rooster", required: true, autocomplete: 'off' %>
      </div>
    <% end %>
  
    <%= form.submit %>
  <% end %>

  
  <%= form_with(model: [@tournament, @event, @team_line_up], url: tournament_event_team_line_ups_path) do |form| %>
    <%= @team_line_up.errors.full_messages.first if @team_line_up.errors.any? %><br/>
  
    <div>
      <%= form.label :batter_order %>
      <%= form.text_field :batter_order, required: true, autocomplete: 'off' %>
    </div>
  
    <div>
      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Rooster</th>
          </tr>
        </thead>
        <tbody>
          <% Position.all.each do |position| %>
            <tr>
              <td><%= position.position_name %></td>
              <td>
                <%= form.collection_select "team_line_ups[#{position.id}]", @event.team.roosters, :id, :name, { prompt: "Select rooster" }, required: true, autocomplete: 'off' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <%= form.submit %>
  <% end %>
  
  Unpermitted parameter: :team_line_up[position_rooster. Context: { controller: TeamLineUpsController, action: create, request: #<ActionDispatch::Request:0x00007f038538e1d8>, params: {"authenticity_token"=>"[FILTERED]", "team_line_up"=>{"batter_order"=>"1", "team_line_up[position_rooster"=>{"1"=>{"rooster_id"=>{"]"=>"16"}}, "2"=>{"rooster_id"=>{"]"=>"16"}}, "3"=>{"rooster_id"=>{"]"=>"20"}}, "4"=>{"rooster_id"=>{"]"=>"31"}}, "5"=>{"rooster_id"=>{"]"=>"32"}}, "6"=>{"rooster_id"=>{"]"=>"22"}}, "7"=>{"rooster_id"=>{"]"=>"30"}}, "8"=>{"rooster_id"=>{"]"=>"32"}}, "9"=>{"rooster_id"=>{"]"=>"31"}}, "10"=>{"rooster_id"=>{"]"=>"30"}}}}, "commit"=>"Create Team line up", "controller"=>"team_line_ups", "action"=>"create", "tournament_id"=>"21", "event_id"=>"16"} }

  The data that u r passing into params the format is wrong,The format should be {{"position_id"=>"1"=>"rooster_id"=>"16"},{"position_id"=>"2"=>"rooster_id"=>"20"},{"position_id"=>"3"=>"rooster_id"=>"31"}}.Please make changes in code accordingly.

  Try the approach like make a hash of position_id and rooster_id as key pair value and then try to create teamlineup ,Using this there can be multiple entries in database of position_id and rooster_id.

  "2 => rooster_id"=>{"]"=>"21"},
  {"position_id"=>{"]"=>"2"}, "rooster_id"=>{"]"=>"16"}}

  <% if false %>

<%= form_with(model: [@tournament, @event, @team_line_up], url: tournament_event_team_line_ups_path) do |form| %>
    <%= @team_line_up.errors.full_messages.first if @team_line_up.errors.any? %><br/>
  
    <div>
      <%= form.label :batter_order %>
      <%= form.text_field :batter_order, required: true, autocomplete: 'off' %>
    </div>
  
    <div>
      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Rooster</th>
          </tr>
        </thead>
        <tbody>
          <% Position.all.each do |position| %>
            <tr>
              <td><%= position.position_name %></td>
              <td>
                <%= form.collection_select :rooster_id, @event.team.roosters, :id, :name, { prompt: "Select rooster" }, required: true, autocomplete:'off' %><br />
                <%= form.hidden_field :position_id, value: position.id %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <%= form.submit %>
    <% end %>

  <% end %>