<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <!-- Replace "Baseball" with the logo -->
  <a class="navbar-brand" href="#" style="padding: 0;">
    <%= image_tag("Logo.png", alt: "Logo", class: "img-fluid rounded-circle", style: "width: 100px; height: 100px;") %>
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Add your navigation links here -->
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tournaments", tournaments_path, class: "nav-link" %>
      </li>
      <%#  
      <li class="nav-item">
        <%= link_to "Teams", teams_path, class: "nav-link" %>
      </li> 
      


      <!-- Add more links as needed -->
      
      <% if user_signed_in? %>
        <% if current_user.image.attached? %>
            <%= link_to edit_user_registration_path do %>
            <%= image_tag(current_user.image, alt: "User Avatar", class: "img-fluid rounded-circle", style: "width: 50px; height: 50px; object-fit: cover;") %>
        <% end %>
        <% else %>
            <%= link_to edit_user_registration_path do %>
            <%= image_tag("profile.png", alt: "profile", class: "img-fluid rounded-circle", style: "width: 50px; height: 50px; object-fit: cover;") %>
        <% end %>

         <%#       
         <% elsif user.is_admin? %>   
         <li class="nav-item">                
         <%= link_to "All users", users_path, class: "nav-link" %>     
           </li>  %> 
          
        
     <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
