<div style="max-width: 100%; margin: 10px; display: flex;">

  <div style="flex: 60%; background-image: url('<%= asset_path('base.png') %>'); background-size: 100% 100%; background-repeat: no-repeat;">

  </div>
  <div style="flex: 40%; padding: 40px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

    <div style="text-align: center; margin-bottom: 20px;">
      <img src="<%= asset_path('Logo.png') %>" alt="Logo" style="max-width: 50%; height: auto;">
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <div style="margin-bottom: 15px;">
        <%= f.label :email %><br>
        <%= f.email_field :email, class: 'form-control', required: true %>
      </div>

      <div style="margin-bottom: 15px;">
        <%= f.label :username %><br>
        <%= f.text_field :username, class: 'form-control', required: true %>
      </div>

      <div style="margin-bottom: 15px;">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: 'form-control', required: true %>
      </div>

      <div style="margin-bottom: 15px;">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
      </div>

      <div class="d-grid gap-3 col-6 mx-auto">
      <%= f.submit 'Sign Up', class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>


