<div style="display: flex; max-width: 100%; max-height: 100%; overflow: hidden; height: 660px;margin-top: -25px;">

  <div style="flex: 60%; background-image: url('<%= asset_path('base.png') %>'); background-size: 100% 100%; background-repeat: no-repeat;">

  </div>
  <div style="flex: 40%; padding: 40px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

    <div style="text-align: center; margin-bottom: 20px;">
      <img src="<%= asset_path('Logo.png') %>" alt="Logo" style="max-width: 50%; height: auto;">
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div style="margin-bottom: 15px;">
        <%= f.label :email %><span class="required">*</span><br>
        <%= f.email_field :email, class: 'form-control' %>
        <% if @user.errors[:email].any? %>
        <div class="error-message", style="color: #f4340a;">
          <b><%= "email" + @user.errors[:email].join(", ") %></b>
        </div>
      <% end %>
      </div>

      <div style="margin-bottom: 15px;">
        <%= f.label :username %><span class="required">*</span><br>
        <%= f.text_field :username, class: 'form-control' %>
        <% if @user.errors[:username].any? %>
        <div class="error-message", style="color: #f4340a;">
          <b><%= "username" + @user.errors[:username].join(", ") %></b>
        </div>
      <% end %>
      </div>

      <div style="margin-bottom: 15px;">
        <%= f.label :password %><span class="required">*</span><br>
        <%= f.password_field :password, class: 'form-control' %>
        <% if @user.errors[:password].any? %>
        <div class="error-message", style="color: #f4340a;">
          <b><%= "password" + @user.errors[:password].join(", ") %></b>
        </div>
      <% end %>
      </div>

      <div style="margin-bottom: 15px;">
        <%= f.label :password_confirmation %><span class="required">*</span><br>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <% if @user.errors[:password_confirmation].any? %>
        <div class="error-message", style="color: #f4340a;">
          <b><%= "password_confirmation" + @user.errors[:password_confirmation].join(", ") %></b>
        </div>
      <% end %>
      </div>

      <div class="d-grid gap-3 col-6 mx-auto">
      <%= f.submit 'Sign Up', class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>


